@import 'variables';

.wrapper {

  h2 {
    // margin-top: 2rem;
  }

  iframe {
    height: 20px;
    position: static;
    visibility: visible;
    width: 165px;
  }
}

.title {
  font-size: 2rem;
}

.info-block {
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
  }
}

.inline-img-right {
  float: right;
  margin-left: 1rem;
}

.inline-img-left {
  float: left;
  margin-right: 1rem;
}

.social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.twitter {
  display: flex;
  flex-direction: column;

  iframe {
    margin-bottom: .25rem;
  }
}

.centerLogo {
  max-height: 1.5rem;
  display: block;
  margin: auto;
}

.center-box {
  text-align: center;
}

.link {
  text-decoration: none !important;
}

.presenterImage {
  // max-height: 6rem;
  max-width: 7.5rem;
  display: block;
  margin: auto;
}

.inline-img-right {
  float: right;
  margin-left: 1rem;
}

.ann-card {
  position: relative;
  padding: 3rem 1.25rem 2rem 1.5rem;
  // padding: 0.5rem 1.25rem;
  border: 1px $gray solid;
  border-radius: 5px;
  margin: 1rem 0;
  overflow: hidden;
}

.ann-group {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  padding: 0.75rem;
  color: $white;
  background-color: $brand-primary;
}

.symposia {
  // background-color: #2b3d62;
}

.conference {
  // background-color: #2b3d62;
}

.webinar {
  // background-color: #f39134;
}

.training {
  // background-color: #6a9ccd;
}

.challenge {
  // background-color: #942e02;
}

.course {
  // background-color: #f16b6c;
}

.meeting {
  // background-color: #2b3d62;
}

.ann-content {
  margin-top: 1rem;
}

.ol {
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  @media (min-width: 768px) {
    padding-left: 1rem;
  }
}

.filter-title {
  font-weight: 700;
  display: block;
  @media(min-width: 768px) {
    margin-bottom: 1rem;
    padding: 0 0.75rem;
  }
}

.cat {
  display: inline-block;
  padding: 0.5rem 1.5rem 0.5rem 0;
  cursor: pointer;
  &:hover {
    color: $brand-primary;
  }
  @media (min-width: 768px) {
    padding: .25rem .75rem;
    display: block;
  }
}
