.wrapper {

  h2 {
    margin-top: 2rem;
  }

  iframe {
    height: 20px;
    position: static;
    visibility: visible;
    width: 165px;
  }
}

.title {
  font-size: 2rem;
}

.info-block {
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
  }
}

.info-split,
.info-split-reverse {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info-split {
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.info-split-reverse {
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row-reverse;
  }
}

.right {
  margin-left: 0;

  @media (min-width: 768px) {
    margin-left: 1rem;
  }
}

.social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.twitter {
  display: flex;
  flex-direction: column;

  iframe {
    margin-bottom: .25rem;
  }
}
