.wrapper {

  h2 {
    margin-top: 2rem;
  }

  iframe {
    height: 20px;
    position: static;
    visibility: visible;
    width: 165px;
  }
}

.title {
  font-size: 2rem;
}

.info-block {
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
  }
}

.inline-img-right {
  float: right;
  margin-left: 1rem;
}

.inline-img-left {
  float: left;
  margin-right: 1rem;
}

.social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.twitter {
  display: flex;
  flex-direction: column;

  iframe {
    margin-bottom: .25rem;
  }
}

.centerLogo {
  max-height: 1.5rem;
  display: block;
  margin: auto;
}

.center-box {
  text-align: center;
}

.link {
  text-decoration: none !important;
}

.presenterImage {
  // max-height: 6rem;
  max-width: 7.5rem;
  display: block;
  margin: auto;
}

.inline-img-right {
  float: right;
  margin-left: 1rem;
}
