.styles {
  width: 100% !important;
  height: 100% !important;
}

.viz-description {
  margin-bottom: 2rem;
}

.credits {
  font-size: 0.85rem;
}

.wrap {
  overflow: hidden;

}

.iframe {
  width: 100%;
  padding: 1rem;
  min-height: 50rem;
  margin-top: -4.75rem;
}
