@import 'variables';

@keyframes from-bottom {
  0% { opacity: 0; transform: translate3d(0, 10px, 0); }
  75% { opacity: 0; transform: translate3d(0, 10px, 0); }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

// .wrapper {
// }

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem .9375rem;
  position: relative;
  text-align: center;

  img {
    height: 167px;
    margin-bottom: 2rem;
    width: 200px;
  }
}

.flex-center {
  align-items: center;
  display: flex;
}

.justify {
  text-align: justify;
}

.animated {
  animation: from-bottom .5s ease-in-out;
}

$text-shadow-color: #051933;

.lead {
  color: $white;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 1px 1px $text-shadow-color;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  @media (min-width: 992px) {
    width: 90%;
  }
}

$btn-width: 16.25rem;

.btn-discover,
.btn-td {
  background-color: $brand-primary;
  border-color: $yellow;
  color: $yellow;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem 2rem;
  width: 100%;
  &:hover {
    background-color: $yellow;
    color: $off-black;
  }

  @media (min-width: 544px) {
    width: $btn-width;
  }
}

.btn-discover {
  margin-bottom: 1rem;

  @media (min-width: 600px) {
    margin-bottom: 0;
    margin-right: .5rem;
  }

  @media (min-width: 768px) {
    margin-right: 1rem;
  }
}

.center {
  text-align: center;
  width: 100%;
}

.btn-lincs {
  border-color: $brand-primary;
  color: $brand-primary;
  margin-bottom: 1rem;
  margin-top: .5rem;

  @media (max-width: 544px) {
    width: 100%;
  }

  &:hover {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $white;
  }
}

.content {
  background-color: $white;
  margin-bottom: -2rem;
}

.section {
  margin-bottom: 1rem;

  h4 {
    font-weight: 400;
    margin-bottom: .5rem;
  }
}

.recent {
  // background-color: $light-gray;
}

.hr-small {
  margin: 0 auto 2.5rem;
  width: 6rem;

  @media (min-width: 544px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.recent-ds-section {
  border-bottom: 1px solid $gray;
}

.recent-ds-section,
.tools-section {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

$border-color: #4e709b;

.tools-section {
  border: 0;
  border-radius: 0;
  text-align: left;
}

.ds {
  margin-bottom: 1rem;
}

.ds-center {
  margin-bottom: 0;
}

// $about-background: #cfcfcf;
$about-background: $purple;

.about {
  background-color: $about-background;
  border-bottom: 1px solid darken($purple, 5);
  border-top: 1px solid darken($purple, 5);
  padding-bottom: 2rem;
  padding-top: 4rem;

  h3,
  p {
    color: $white;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: $brand-primary-very-light;
  }
}

.title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;

  @media (min-width: 544px) {
    text-align: left;
  }
}

.section-lead {
  font-size: 1rem;
  font-weight: 300;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.btn-primary-outline {
  background-color: $white;
  border-color: $brand-primary;
  color: $brand-primary;

  @media (max-width: 544px) {
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: $brand-primary;
    border-color: darken($brand-primary, 5);
    color: $white;
  }
}

.btn-secondary-outline {
  border-color: $brand-secondary;
  color: $brand-secondary;

  @media (max-width: 544px) {
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $brand-primary;
  }
}

.panel-group {
  margin-bottom: 2rem;

  h5 {
    margin-top: 1rem;
  }
}

.group {
  margin-bottom: 1rem;

  h6,
  h5,
  p,
  a {
    margin-bottom: 0;
  }
}

.ann {
  background-color: $light-gray;
  border-bottom: 1px solid $gray;
}

.ann-section {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.card {
  background-color: $white;
  border: 1px solid;
  border-color: $gray-border-top $gray-border-side $gray-border-bottom;
  border-radius: .25rem;
  min-height: 12.5rem;
  padding: 1rem;

  p,
  a {
    font-size: .9rem;
  }
}

.pubs-wrap {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.pub-section {
  span {
    cursor: inherit;
  }
}

.publications {
  border-right: 1px solid $gray;
}

// .social-section {
//   background-color: $brand-primary-light;
//   color: $white;
//   padding-bottom: 2rem;
//   padding-top: 2rem;
//
//   h3 {
//     color: $white;
//     margin-bottom: 1rem;
//   }
// }
//
// .social-left {
//   border-bottom: 1px solid $brand-primary-very-light;
//   margin-bottom: 1rem;
//   padding-bottom: 1rem;
//
//   @media (min-width: 768px) {
//     border-bottom: 0;
//     border-right: 1px solid $brand-primary-very-light;
//     padding-bottom: 0;
//   }
//
//   hr {
//     border-color: $brand-primary-very-light;
//   }
// }
//
// .youtube {
//   margin-bottom: 2.5rem;
// }
//
// .contact {
//   a {
//     color: $brand-secondary;
//   }
//
//   p {
//     margin-bottom: 0;
//   }
// }

.ajay {
  float: right;
  height: 150px;
  margin-left: 1rem;
  max-width: 100%;
  width: auto;
}

.logo {
  max-width: 100%;
  width: auto;
}
