@import 'variables';

.wrapper {

  h2 {
    margin-top: 2rem;
  }

  h2:first-child {
    margin-top: 0;
  }
}

.previous-events {
  border-bottom: 1px solid $gray;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  p,
  ul {
    margin-bottom: 0;
  }
}


.filter-and-calendar {
  border-bottom: 1px solid $gray;
}
