@import 'variables';

.wrapper {

  h2 {
    margin-top: 2rem;
  }
}

.info-block {
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
  }
}

.header {
  margin-bottom: 1rem;

  h5 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.info-flex {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.right {
  margin-left: 0;

  @media (min-width: 768px) {
    margin-left: 1rem;
  }
}

.img-bordered {
  border: 1px solid $gray;
}
