@import 'variables';

$default-delay: .2s;
$bars: 12;
$graph-height: 200px;

// MIXINS

// Animation Mixin
@mixin bar-animation($time, $dimension) {
  visibility: hidden;
  @if $dimension == width {
    animation: animate-width;
    width: 0;
  }
  @if $dimension == height {
    animation: animate-height;
    height: 0;
  }

  animation-timing-function: cubic-bezier(.35, .95, .67, .99);
  animation-duration: $time * 2;
  animation-fill-mode: forwards;
}

@keyframes animate-width {
  0% { width: 0; }
  100% { visibility: visible; }
}

@keyframes animate-height {
  0% { height: 0; }
  100% { visibility: visible; }
}

.bar-graph {
  margin-bottom: 1rem;
  width: 100%;
}

.graph {
  height: 200px;
  margin: -36px auto 0;
  width: 100%;
}

.bars {
  border-bottom: 2px solid $brand-primary;
  height: $graph-height;
  padding: 1% 0 1% 1%;
  position: absolute;
  width: 92%;
  z-index: 10;
}

.bar-group {
  display: block;
  float: left;
  height: 100%;
  position: relative;
  width: 25%;

  .bar {
    @include bar-animation($default-delay, height);
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    border-radius: 3px 3px 0 0;
    bottom: 0;
    cursor: default;
    position: absolute;
    text-align: center;
    width: 25%;

    &:nth-child(2) {
      left: 35%;
    }

    &:nth-child(3) {
      left: 70%;
    }
  }

  @for $i from 1 through 15 {
    .bar-#{$i} {
      animation-delay: $default-delay + .1 * $i;
    }
  }
}
