// scss-lint:disable VendorPrefix SelectorDepth

:global {
  @import 'vendor/bootstrap/bootstrap';
  @import 'variables';
  @import 'form';

  html {
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  html,
  body {
    // background-color: $light-gray;
    font-family: $font-family;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    color: $base-font-color;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  .h1 {
    color: $h1-color;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $header-color;
    font-weight: 500;
  }

  * {
    box-sizing: inherit;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  footer,
  .footer-push {
    height: $footer-height-collapsed;

    @media (min-width: 992px) {
      height: $footer-height;
    }
  }

  .site-wrap {
    margin-bottom: -$footer-height-collapsed;
    min-height: 100%;
    position: relative;

    @media (min-width: 992px) {
      margin-bottom: -$footer-height;
    }
  }

  .view-container {
  }

  .btn-primary {
    background-color: $brand-primary-light;
    border-color: darken($brand-primary-light, 5);

    &:hover {
      background-color: $brand-primary;
      border-color: darken($brand-primary, 5);
    }

    &.active {
      background-color: $brand-primary;
      border-color: darken($brand-primary, 5);
    }

    &.active:hover {
      background-color: $brand-primary;
      border-color: darken($brand-primary, 5);
    }
  }

  // jQuery UI Autocomplete

  .ui-menu .ui-menu-item {
    background-color: $white;

    .ui-corner-all {
      color: $base-font-color;
    }
  }

  .ui-autocomplete .ui-menu-item .ui-state-focus {
    background: $brand-primary;
    border: 1px solid darken($brand-primary, 5);
    border-radius: 0;
    color: $white;
    font-weight: inherit;
  }

  // react-slick
  .slick-prev::before,
  .slick-next::before {
    color: $brand-primary;
  }

  .react-bs-table table td,
  .react-bs-table table th {
    white-space: normal;
    overflow-x: auto;
  }
}
