@import 'variables';

.hoverinfo {
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  opacity: 0.9;
  padding: 2rem;
  width: 15rem;
  background: $white;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 0.8rem;
  font-weight: 1000;
}

.logo {
  width: 10rem;
}
