@import 'vendor/bootstrap/variables';
@import 'variables';

.link {
  color: $brand-primary;
  text-decoration: none;
}

.avatar {
  float: left;
}

.status {
  margin-bottom: 1rem;

  p {
    margin-bottom: 0;
  }
}

.tweeter {
  font-size: 1.25rem;
  margin-bottom: 0;

  a {
    line-height: 2.5rem;
    margin-left: .5rem;
    text-decoration: none;
  }
}

.time {
  color: $text-muted;
  font-size: .9rem;
  font-style: italic;
}
