@import 'variables';

.filter {
  color: $off-black;

  h5 {
    color: $off-black;
    margin-bottom: 1rem;
  }
}

.label {
  font-weight: bold;
  width: 100%;
}

.select-all-btn {
  margin-bottom: 2rem;
  width: 100%;
}
