@import 'variables';

.wrapper {

  h2 {
    margin-top: 2rem;
  }

  h2:first-child {
    margin-top: 0;
  }
}

.opp {
  border-bottom: 1px solid $gray;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  ul:last-child {
    margin-bottom: 0;
  }
}

.opportunities {

  .opp:last-child {
    border-bottom: 0;
  }
}
