@import 'variables';

$hover-color: #cacaca;

.footer {
  background-color: $dark-gray;
  color: $white;
  position: relative;

  h5 {
    color: $white;
  }
}

.divider {
  height: 3px;
  z-index: 1;

  span {
    height: 3px;
  }
}

.green {
  background-color: $green;
}

.teal {
  background-color: $teal;
}

.orange {
  background-color: $orange;
}

.content {

  h5 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    @media (min-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  a {
    color: $white;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }

  p {
    font-weight: 400;
  }

  hr {
    background: $base-font-color;
    border: 0;
    height: 1px;

    @media (min-width: 768px) {
      margin-bottom: 10px;
    }
  }

  @media (min-width: 768px) {
    padding-bottom: 10px;
    padding-top: 30px;
  }
}

.contact {
  padding-top: 1rem;

  h5 {
    float: left;
    margin-bottom: 0;

    @media (min-width: 768px) {
      float: none;
      margin-bottom: 1rem;
    }
  }

  i {
    font-size: 1.25rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  @media (min-width: 768px) {
    padding-top: 0;
  }

  @media (max-width: 990px) {
    margin-top: 15px;
  }
}

.icons {
  float: right;

  a {
    margin-right: 1rem;
  }

  @media (min-width: 768px) {
    float: none;
  }
}

.copy {
  padding-left: 0;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.credit {
  padding-right: 0;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  a {
    font-weight: 600;
  }
}

// Dropdown

.dropdown {
  border-bottom: 1px solid $base-font-color;
  cursor: pointer;
  padding-bottom: .5rem;
  padding-top: 1rem;

  h5 {
    margin: 0;
  }

}

.dropdown-target {

  i {
    float: right;
  }
}

.dropdown-children {
  max-height: 100000px;
  overflow-y: hidden;
  padding-top: .5rem;
  transition-duration: 1.5s;
  transition-property: all;
  transition-timing-function: ease-in;

  p {
    margin: 0;
  }
}

.dropdown-children-collapsed {
  max-height: 0;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 1, .5, 1);
}

.collapse {
  cursor: pointer;
  display: inline-block;
  margin-right: .5rem;
  user-select: none;
}
