// scss-lint:disable

@import 'variables';

.wrapper {
  margin-bottom: -2rem;
  padding-bottom: 2rem;
}

.title {
  color: $darker-gray;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;

  @media (min-width: 544px) {
    text-align: left;
  }
}

.search {
  align-items: center;
  display: flex;
  max-width: 600px;
}

.search,
.search-results {
  margin: 0 auto 2rem;
}

.search-results {
  max-width: 800px;

  a {
    cursor: pointer;
  }

  h4 {
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.dataset {
  margin-bottom: .5rem;
}

.query {
  color: $teal;
  font-weight: bold;
}

.search-bar {
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 0;
  flex-grow: 10;
  height: 38px;
  padding: 6px 9px 0;
  position: relative;

  input {
    border: 0;
    font-size: 1rem;
    height: 26px;
    left: 0;
    line-height: 26px;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    width: 100%;
  }
}

.submit {
  background-color: $teal;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: default;
  height: 38px;
  text-indent: -9999em;
  width: 38px;

  &:hover {
    background-color: darken($teal, 5);
  }
}
