@import 'variables';

$widget-height: 15rem;
$widget-width: 15rem;
$shadow: rgba(0, 0, 0, .1);

.widget {
  border: 1px solid;
  border-color: $gray-border-top $gray-border-side $gray-border-bottom;
  border-radius: .2rem;
  display: inline-block;
  overflow: hidden;
  // @media (min-width: 992px) {
  max-width: $widget-width;
  // }
}

.widget-inner {
  background: $white;
  border-radius: .2rem;
  box-shadow: 0 2px 4px $shadow;
  height: $widget-height;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 5rem;
}

.inline-img-left {
  float: left;
  margin-right: 1rem;
}

$desc-line-height: 1.125rem; // 18px

.widget-description {
  font-size: 0.75rem;
  // color: $off-black;
  // display: inline-block;
  // max-height: $desc-line-height * 3;
  // min-height: 1.25rem;
  // position: relative;
  // word-wrap: break-word;
}
