@import 'vendor/bootstrap/variables';
@import 'variables';

.tweet-card {
  background-color: $white;
  border: 1px solid;
  border-color: $gray-border-top $gray-border-side $gray-border-bottom;
  border-radius: .25rem;
  min-height: 18rem;
  padding: 1rem;
  word-wrap: break-word;
}

.group {
  margin-bottom: 1rem;

  h6,
  h5,
  p,
  a {
    margin-bottom: 0;
  }
}

.wrapper {
  color: $base-font-color;
  margin: 0 auto;
  width: 100%;
}

.tweet {
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  a {
    color: $brand-primary-light;
  }
}

.link {
  color: $brand-primary-light;
}

.twitter-bird {
  margin-bottom: 1rem;
  text-align: center;

  img {
    height: 2rem;
    width: auto;
  }
}

.img-wrap {
  border: 5px solid $white;
  border-radius: .75rem;
  float: left;
}

.avatar {
  float: left;
}

.status {
  p,
  i {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}

.tweeter {
  margin-bottom: .5rem;

  p {
    line-height: 1;
  }
  @media (min-width: 1199px) {
    a {
      margin-left: .5rem;
    }
  }
}

.username {
  font-size: 1.25rem;
  margin-bottom: .5rem;
  @media (max-width: 1199px) {
    a {
      font-size: 1rem;
    }
  }

  @media (max-width: 992px) {

  }
}

.screen-name {
  margin-bottom: 0;
  @media (max-width: 1199px) {
    a {
      font-size: 0.8rem;
    }
  }
}

.info {
  font-weight: 300;

  i {
    color: $brand-primary-light;
    margin-left: .5rem;
  }
}

.date {
  font-style: italic;
  margin-right: 2rem;
}
