// scss-lint:disable VendorPrefix

:global {
  @import 'vendor/bootstrap/bootstrap';
  @import 'variables';
  @import 'form';
  @import 'calendar';

  html {
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  html,
  body {
    // background-color: $light-gray;
    font-family: $font-family;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    color: $base-font-color;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  .h1 {
    color: $h1-color;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $header-color;
  }

  a {
    color: $brand-primary;
  }

  * {
    box-sizing: inherit;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  footer,
  .footer-push {
    height: 34rem;

    @media (min-width: 992px) {
      height: 28rem;
    }
  }

  .site-wrap {
    margin-bottom: -34rem;
    min-height: 100%;
    position: relative;

    @media (min-width: 992px) {
      margin-bottom: -28rem;
    }
  }

  .view-container {
    margin-bottom: 2rem;
  }
}
