
:global {
  @import 'variables';
  @import 'form';
  @import 'react-big-calendar/lib/css/react-big-calendar.css';

  html {
    box-sizing: border-box;
  }

  html,
  body {
    // background-color: $light-gray;
    font-family: $font-family;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: inherit;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
}
