@import 'variables';

$brand-primary-opaque: rgba(58, 82, 120, .2);
$text-shadow-color: #051933;
$btn-width: 16.25rem;

.landing-nav {
  padding: 0;
}

.main-nav {
  border-radius: 0;
  min-height: $nav-height;
  button,
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .toggle {
    color: $white;
  }
}

.navbar-top {
  display: block;
  padding-left: 0;
  padding-right: 0;
  .header, .logo {
    position: absolute;
    z-index: 1;
    user-select: none;
  }
  .header {
    text-transform: uppercase;
    line-height: 1.5rem;
    color: $white;
    font-family: serif;
    font-size: 2.5rem;
    @media(max-width: 500px) {
      left: -1rem;
    }
  }
  .logo {
    position: absolute;
    top: -2rem;
    height: 140px;
    left: -5rem;
  }
  .title {
    margin: 1.9rem auto auto 15.5rem;
    left: -5rem;
    .nih {
      color: $brand-primary;
    }
    .program {
      margin-left: 0.2rem;
      font-size: 0.8rem;
      letter-spacing: 0.5rem;
      font-weight: 900;
      font-family: Lato;
      @media(max-width: 500px) {
        font-size: 0.8rem;
        margin-left: 0.4rem;
      }
    }
  }
  .filler {
    position: relative;
    background-repeat: repeat;
    height: 107px;
    width: 100%;
  }
  .sub-title {
    display: block;
    visibility: hidden;
    cursor: pointer;
    color: $brand-primary;
    font-size: 0.9rem !important;
    top: 5rem;
    @media (min-width: 768px) {
      visibility: visible;
      position: absolute;
      right: 0;
    }
  }
}

.navbar-mid {
  margin: 0.1rem auto;
  z-index: 10000;
  .nav-mobile,
  .dd-nav {
    background-color: #cc9;
    width: 100%;
    @media (max-width: 768px) {
      left: 0;
      padding-left: 2rem;
      padding-right: 2rem;
      position: absolute;
      z-index: 1;
    }
    @media (max-width: 1000px) {
      img {
        display: none;
      }
    }
  }
  .dd-nav {
    @media (max-width: 768px) {
      top: $nav-height + 7.1rem;
    }
  }
}

$light-blue: #669acc;
$original-nav-color: #5670a5;
.tab-item {
  color: $original-nav-color;
  display: block;
  padding: 0.425rem 0.85rem;
  &:hover,
  &:focus {
    color: $white;
    background-color: $light-blue
  }
  @media (min-width: 768px) {
    float: left;
  }
}

.link {
  color: $white;
  &:hover,
  &:focus {
    background-color: transparent;
    color: $gray;
    text-decoration: none;
  }
}

.accentWrapper {
	background: #000 url(./components/Navigation/AccentBanner/AccentBanner-bkg-1200.jpg) repeat-y left top;
}

.accentBanner {
	background: url(./components/Navigation/AccentBanner/AccentBanner-1200.jpg) no-repeat left top;
	width:1200px;
	height:59px;
}


@media only screen and (max-width: 1199px) {

  .accentWrapper {
  	background: #000 url(./components/Navigation/AccentBanner/AccentBanner-bkg-940.jpg) repeat-y left top;
  }

  .accentBanner {
  	background: url(./components/Navigation/AccentBanner/AccentBanner-940.jpg) no-repeat left top;
  }
}



@media only screen and (max-width: 991px) {
  .accentWrapper {
  	background: #000 url(./components/Navigation/AccentBanner/AccentBanner-bkg-720.jpg) repeat-y left top;
  }

  .accentBanner {
  	background: url(./components/Navigation/AccentBanner/AccentBanner-720.jpg) no-repeat left top;
  }
}


@media only screen and (max-width: 768px) {
  .accentWrapper {
  	background: #000 url(./components/Navigation/AccentBanner/AccentBanner-bkg-576.jpg) repeat-y left top;
  }

  .accentBanner {
    margin-top: 38px;
  	background: url(./components/Navigation/AccentBanner/AccentBanner-576.jpg) no-repeat left top;
  }
}


// .banner {
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding: 3rem .9375rem 2rem .9375rem;
//   position: relative;
//   margin: auto;
// }
