@import 'variables';

$brand-primary-opaque: rgba(58, 82, 120, .2);
$text-shadow-color: #051933;
$btn-width: 16.25rem;

.landing-nav {
  padding: 0;
}

.main-nav {
  background-color: $brand-primary;
  border-radius: 0;
  min-height: $nav-height;

  .cubeImg {
    width: 50px;
    float: left;
    margin-right: 10px;
  }

  button,
  a {

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .toggle {
    color: $white;
  }
}

.navbar-top {
  display: block;
  padding-left: 0;
  padding-right: 0;

  .header, .logo {
    position: absolute;
    z-index: 100;
    user-select: none;
  }

  .header {
    text-transform: uppercase;
    line-height: 1.5rem;
    color: $white;
    font-family: serif;
    font-size: 2.0rem;
  }

  .logo {
    height: 107px;
  }

  .title {
    margin: 2rem auto auto 11.7rem;

    .nih {
      color: $brand-primary;
    }

    .program {
      margin-left: 0.8rem;
      font-size: 1rem;
      letter-spacing: 0.5rem;
      font-family: Lato;
    }
  }

  .filler {
    position: relative;
    background-repeat: repeat;
    height: 107px;
    width: 100%;
  }

  .sub-title {
    display: none;
    cursor: pointer;
    color: $brand-primary;
    @media (min-width: 968px) {
      display: block;
      position: absolute;
      right: 25%;
      top: 5rem;
      font-size: 1rem !important;
    }
  }
}

.navbar-mid {
  height: 2.5rem;
  z-index: 10000;
  .nav-mobile,
  .dd-nav {
    background-color: #cc9;
    width: 100%;

    @media (max-width: 768px) {
      left: 0;
      margin-top: -.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      position: absolute;
      z-index: 1;

    }
    @media (max-width: 1000px) {
      img {
        display: none;
      }
    }
  }

  .dd-nav {
    @media (max-width: 768px) {
      top: $nav-height + 7.5rem;
    }
  }
}

.link, .tab-item {
  display: block;
  padding-bottom: .425rem;
  padding-top: .425rem;
  // color: $white;

  @media (min-width: 768px) {
    float: left;
    margin-left: 1rem;
  }
}

.link {
  color: $white;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $gray;
    text-decoration: none;
  }
}


.banner {
  // background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem .9375rem 2rem .9375rem;
  position: relative;
  margin: auto;
}


// ------------------------------------------
// .main-nav {
//   background-color: $brand-primary;
//   border-radius: 0;
//   min-height: $nav-height;
//   padding: 0;
//
//   .cubeImg {
//     width: 50px;
//     float: left;
//     margin-right: 10px;
//   }
//   button,
//   a {
//     color: $white;
//
//     &:hover,
//     &:focus {
//       background-color: transparent;
//       color: $gray;
//       text-decoration: none;
//     }
//   }
//
//   .toggle {
//     color: $white;
//   }
// }
