@import 'variables';

$brand-primary-opaque: rgba(58, 82, 120, .7);

.main-nav {
  background-color: $brand-primary-opaque;
  border-radius: 0;
  min-height: $nav-height;
  padding-bottom: .5rem;
  padding-top: .5rem;
  position: absolute;
  width: 100%;
  z-index: 1;

  button,
  a {
    color: $white;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $gray;
      text-decoration: none;
    }
  }

  .toggle {
    color: $white;
  }
}

.nav-mobile,
.dd-nav {
  background-color: $brand-primary-opaque;
  width: 100%;

  @media (max-width: 768px) {
    left: 0;
    margin-top: -.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
  }
}

.dd-nav {
  @media (max-width: 768px) {
    top: $nav-height + 1rem;
  }
}

.link {
  display: block;
  padding-bottom: .425rem;
  padding-top: .425rem;

  @media (min-width: 768px) {
    float: left;
    margin-left: 1rem;
  }
}

.main-nav-home {
  background: none;
}
