@import 'variables';

.main-nav {
  background-color: $brand-primary;
  border-radius: 0;
  min-height: $nav-height;
  padding-bottom: ($nav-height - 20) / 2;
  padding-top: ($nav-height - 20) / 2;
  width: 100%;

  a {
    color: $white;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $gray;
      text-decoration: none;
    }
  }
}

.link {
  display: block;
  padding-bottom: .425rem;
  padding-top: .425rem;

  @media (min-width: 768px) {
    float: left;
    margin-left: 1rem;
  }
}

.toggle {
  color: $dark-gray;
}

.main-nav-home {
  background-color: $white;

  a {
    color: $dark-gray;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $darker-gray;
      text-decoration: none;
    }
  }
}
