@import 'variables';

$tool-height: 11rem;
$tool-width: 14rem;
$shadow: rgba(0, 0, 0, .1);

.tool {
  border: 1px solid;
  border-color: $gray-border-top $gray-border-side $gray-border-bottom;
  border-radius: .2rem;
  height: $tool-height;
  width: $tool-width;
  margin: 0 auto 1rem;
  box-shadow: 0 2px 4px $shadow;
  a {
    text-decoration: none !important;
  }
}

$tool-details-height: 8rem;

.tool-details {
  height: $tool-details-height;
  padding: 1rem;
  border-bottom: 1px solid;
  border-color: $gray-border-top $gray-border-side $gray-border-bottom;
}

.tool-desc {
  height: 70px;
  margin-bottom: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

$desc-font-size: 0.9rem;
$desc-container-width: 6.5rem;

.tool-info {
  display: inline-block;
  width: $desc-container-width;
  font-size: $desc-font-size;
  font-weight: 600;
  line-height: 1rem;
}

$img-length: 4rem;

.tool-logo-wrap {
  display: inline-block;
  position: relative;
  float: left;
  height: $img-length;
  width: $img-length;

  img {
    display: block;
    position: absolute;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.tool-analysis {
  font-size: 0.8rem;
  text-align: center;
}

.tool-analyze-with {
  display: block;
}

.info-icon {
  position: absolute;
  right: 2.25rem;
  top: 0.5rem;
  width: 1rem;
  opacity: 0.8;
  &:hover {
    opacity: 0.6;
  }
}

.tool-click-target {
  height: $tool-height - $tool-details-height;
  width: $tool-width;
  text-decoration: none !important;
  text-align: center;
  &:hover {
    background: $overlay-black;
    filter: alpha(opacity = 1);
    opacity: 1;
    transition: all .25s ease;
  }
}

.tool-click-button {
  width: $tool-width;
  font-weight: 600;
  margin-top: 0.6rem;
}

.analysis-overlay, .tool-overlay {
  position: absolute;
  top: $tool-details-height;
  background: $overlay-black;
  border-radius: .2rem;
  opacity: 0;
  cursor: pointer;
  filter: alpha(opacity = 0);
  transition: all .25s ease;

  &:hover {
    filter: alpha(opacity = 1);
    opacity: 1;
  }
}

.analysis-overlay {
  height: $tool-height - $tool-details-height;
  width: $tool-width;
}

.tool-overlay {

}
