@import 'variables';

@keyframes spin {
  from { transform: rotateX(60deg) rotateZ(0); }
  to { transform: rotateX(60deg) rotateZ(360deg); }
}

.wrap {
  height: 150px;
  perspective: 50rem;
  perspective-origin: 50% 45px;
  position: relative;
}

.cube {
  height: 135px;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  width: 135px;
}

.animated {
  animation: spin 10s infinite linear;
}

$cube-border: #84add5;

.back,
.right,
.left,
.top,
.bottom,
.front {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  text-align: center;
  text-transform: uppercase;

  div {
    border: 1px solid $cube-border;
    height: 15px;
    width: 15px;
  }
}

.cube-white {
  background-color: $white;
}

$cube-opaque: $brand-primary-light;
$cube-white-opaque: #e1e9f4;
$cube-light-blue: #9ab9db;

.cube-opaque {
  background-color: $cube-opaque;
}

.cube-white-opaque {
  background-color: $cube-white-opaque;
}

.cube-light-blue {
  background-color: $cube-light-blue;
}

.left,
.right {
  height: 135px;
  width: 45px;
}

.top,
.bottom {
  height: 45px;
  width: 135px;
}

.back {
  transform: rotateY(180deg);
}

.right {
  transform: rotateY(-270deg) translateZ(90px);
  transform-origin: top right;
}

.left {
  transform: rotateY(270deg) translateX(0);
  transform-origin: center left;
}

.top {
  transform: rotateX(-90deg) translateY(-45px);
  transform-origin: top center;
}

.bottom {
  transform: rotateX(90deg) translateZ(-90px) translateY(45px);
  transform-origin: bottom center;
}

.front {
  transform: translateZ(45px);
}
