@import 'variables';

$tool-height: 15rem;
$tool-width: 15rem;
$shadow: rgba(0, 0, 0, .1);

.tool {
  border: 1px solid;
  border-color: $gray-border-top $gray-border-side $gray-border-bottom;
  border-radius: .2rem;
  margin: 0.5rem;
  width: $tool-width;
  display: inline-block;
}

.tool-inner {
  background: $white;
  border-radius: .2rem;
  box-shadow: 0 2px 4px $shadow;
  height: $tool-height;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  padding: 1rem;
}

.tool-link {
  text-decoration: none !important;
  color: $brand-primary;
  &:hover {
    color: #2874b7;
  }
}

.thumbnail {
  display: block;
  margin: auto;
  max-height: $tool-height / 2 - 1rem;
  max-width: 80%;
}

.tool-details {
  max-height: 9rem;
  overflow: hidden;
}

$title-line-height: 1.5rem;

.tool-title {
  margin-bottom: 0;
  display: inline-block;
  font-weight: 600;
  margin-top: 0.6rem;
  max-height: 2rem;
  position: relative;
  text-decoration: none !important;
}

$desc-line-height: 1.125rem; // 18px

.tool-description {
  font-size: 0.75rem;
  color: $off-black;
  display: inline-block;
  max-height: $desc-line-height * 3;
  min-height: 1.25rem;
  position: relative;
  word-wrap: break-word;
}
