@import 'variables';

$hover-color: #cacaca;

.footer {
  background-color: $dark-gray;
  color: $white;
  position: relative;
  width: 100%;

  h5 {
    color: $white;
  }
}

.divider {
  height: 3px;
  z-index: 1;

  span {
    height: 3px;
  }
}

.green {
  background-color: $green;
}

.teal {
  background-color: $teal;
}

.orange {
  background-color: $orange;
}

.content {
  padding: 3rem 0 1rem;

  h5 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    margin-bottom: 2rem;
    padding: 0;
  }

  a {
    color: $white;
    cursor: pointer;

    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }

  p {
    font-weight: 400;
  }

  hr {
    background: $base-font-color;
    border: 0;
    height: 1px;
    margin-bottom: 2rem;
  }
}

.icons {
  a {
    margin-right: 1rem;
  }
}

.copy {
  padding-left: 0;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.credit {
  padding-right: 0;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  a {
    font-weight: 600;
  }
}

// Dropdown
.dropdown {

  i,
  span {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.1;
  }
}

.dropdown-children {
  margin-left: 1rem;
  max-height: 100000px;
  overflow-y: hidden;
  transition-duration: .8s;
  transition-property: all;
  transition-timing-function: ease-in;

  p {
    margin: 0;
  }
}

.dropdown-children-collapsed {
  max-height: 0;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 1, .5, 1);
}

.collapse {
  cursor: pointer;
  display: inline-block;
  margin-right: .5rem;
  user-select: none;
}
