@import 'variables';

.categories {
  align-items: center;
  display: flex;
  justify-content: center;

  label {
    border-radius: 0;
    margin-bottom: 0;
  }
}

.category-check {
  background-color: $teal;
  border-color: $teal;
  color: $white;
}

.active {
  background-color: darken($teal, 8);
  background-image: none;
  border-color: darken($teal, 10);
  color: $white;
}

.workflow {
  border: 1px solid $teal;
  min-height: 1px;
  padding: 1rem;
  position: relative;
}
