@import 'variables';

.categories {
  align-items: center;
  display: flex;
  justify-content: center;

  label {
    border-radius: 0;
    margin-bottom: 0;
  }
}

.category-check {
  background-color: $white;
  border-bottom-color: $teal;
  bottom: -1px;
  color: $teal;
  margin: 0;
  position: relative;
  z-index: 1;

  &:not(.active):hover {
    color: darken($teal, 10);
  }
}

.active {
  background-color: $white;
  background-image: none;
  border-bottom-color: $white;
  border-left-color: $teal;
  border-right-color: $teal;
  border-top-color: $teal;
  color: $teal;
}

.workflow {
  border: 1px solid $teal;
  min-height: 1px;
  padding: 1rem;
  position: relative;
}
