@import 'variables';

.dataset {
  background-color: $white;
  border: 1px solid;
  border-color: $gray-border-top $gray-border-side $gray-border-bottom;
  margin-bottom: .15rem;
  padding: .5rem 1rem;
}

.ds-header {

  h5,
  p {
    margin-bottom: 0;
  }
}

.info-date {
  float: right;
  font-size: 80%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  a,
  span {
    font-size: 90%;
  }

  a {
    color: $brand-primary-light;
    cursor: pointer;
    text-align: center;


    i,
    span {
      text-align: center;
      width: 100%;
    }

    img {
      margin-bottom: 1px;
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  a:first-child {
    margin-left: 0;
  }
}

.creator,
.description {
  font-size: 90%;
}

.creator {
  color: $teal;
  font-weight: 600;
}
