@import 'variables';

.dataset {
  background-color: $white;
  border: 1px solid;
  border-color: $gray-border-top $gray-border-side $gray-border-bottom;
  margin-bottom: .15rem;
  padding: .5rem 1rem;
}

.ds-header {

  h5,
  p {
    margin-bottom: 0;
  }
}

.info-date {
  float: right;
  font-size: 80%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  a,
  span {
    font-size: 90%;
  }
}

.btn-link {
  border: 1px solid $brand-primary;
  color: $brand-primary;
  margin-right: .5rem;
  margin-top: .5rem;
  padding: .15rem .375rem;
  width: 100%;

  &:hover {
    background-color: $brand-primary;
    border-color: darken($brand-primary, 2);
    color: $white;
  }

  @media (min-width: 544px) {
    width: auto;
  }
}

.creator,
.description {
  font-size: 90%;
}

.description {
  margin-bottom: .5rem;
}

.creator {
  color: $teal;
  font-weight: 600;
}
