// Modal

.modal-content {
  border: 0;
}

.modal-header {
  border-bottom: 0;
}

.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.citation-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;

  img {
    margin-bottom: 1rem;
    max-width: 100%;
    width: auto;
  }
}
