@import 'variables';

.wrapper {
  background-color: $white;
  border-bottom: 1px solid $gray;
  // color: $white;
  margin-bottom: 2rem;
  padding: 2rem .9375rem;
  text-align: center;

  @media (min-width: 544px) {
    // margin-bottom: 3rem;
    // padding-bottom: 3.25rem;
    // padding-top: 3.25rem;
    text-align: left;
  }

  h1 {
    // color: $white;
    font-size: 3rem;
    font-weight: 400;

    @media (min-width: 768px) {
      // font-size: 4rem;
    }
  }
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.flex,
.search {
  display: flex;
  justify-content: center;
}

.search {
  align-items: center;
  max-width: 600px;
}

.logo {
  height: auto;
  max-height: 150px;
  max-width: 100%;
  width: 100% \9;
}

.search-bar {
  background-color: transparent;
  border: 1px solid $gray;
  border-radius: 0;
  flex-grow: 10;
  height: 38px;
  padding: 6px 9px 0;
  position: relative;

  input {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    height: 26px;
    left: 0;
    line-height: 26px;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    width: 100%;
  }
}

.submit {
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
  height: 38px;
  text-indent: -9999em;
  width: 38px;
}
