@import 'variables';

.card {
  background-color: $white;
  border-radius: .25rem;
  height: 16.5rem; //usually 18rem
  min-width: 10rem; //usually 18rem
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;

  p,
  a {
    font-size: .9rem;
  }
  @media (max-width: 1200px) {
    height: 17.5rem; //usually 18rem
  }
  @media (max-width: 991px) {
    height: 21.5rem; //usually 18rem
  }
}

.card-title {
  padding: 0.5rem;
  color: $white;
  display: inline-block;
  font-family: "Narrow", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.date {
  font-size: 0.8rem;
  font-weight: 900;
  color: #989898;
  margin: 0.5rem 1rem;
}

.title {
  display: block;
}

.description {
  // display: block;
}

.group {
  margin-bottom: 1rem;
  padding: 0 0.5rem 0 1rem;

  h6,
  h5,
  p,
  a {
    margin-bottom: 0;
  }
}

.course {
  background-color: '#283f62';
}

.webinar {
  background-color: '#007CBE';
}

.training {
  background-color: '#058488';
}

.update {
  background-color: '#e1447e';
}
