@import 'variables';

$background-color: $light-gray;

.wrapper {
  background-color: $background-color;
  margin-bottom: -2rem;
  padding-bottom: 2rem;

  h2 {
    font-weight: 300;

    i {
      color: $base-font-color;
    }
  }
}

.wf-title {

  @media (min-width: 992px) {
    position: absolute;
  }
}

.categories {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    border: 0;
    margin: 0;
  }

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

$apple-blue: #1390ff;

.category-check {
  background-color: $background-color;
  color: lighten($base-font-color, 15);
  margin: 0;
  padding: .5rem 1rem;
  position: relative;
  z-index: 1;

  &:hover {
    color: $apple-blue;
  }
}

.active {
  color: $apple-blue;
}

.enter {
  opacity: 0;
}

.enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in;
}

.toolsmodule, .workflow {
  background-color: $white;
  border: 1px solid;
  border-color: $apple-blue $gray-border-side $gray-border-bottom;
  border-radius: .2rem;
  border-top-width: 2px;
  margin-bottom: 2rem;
  min-height: 1px;
  padding: 1rem;
  position: relative;
}

.workflow-exp,
.workflow-comp-bio {
  i {
    color: $brand-primary-light;
    font-size: 8.5rem;
  }
}

.workflow-exp {
  i {
    line-height: 10rem;
  }
}

// .workflow-comp-bio {
//
// }

.question {

  h5 {
    margin-bottom: 1rem;
  }

  label {
    line-height: 1.85rem;
    margin-bottom: 0;
  }
}

.small {
  font-size: 85%;
}

.examples {
  align-items: center;
  display: flex;

  ul {
    border-left: 1px solid $gray;
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: .5rem;
    padding-left: .9375rem;
    padding-top: .5rem;
    text-indent: -5px;

    li::before {
      content: '- ';
      text-indent: -5px;
    }
  }

  p {
    margin: 0;
  }
}

.base {
  p {
    margin: 0;
  }
}

.p-half {
  margin-bottom: .5rem;
}

.filter, .sort {
  display: inline-block;
  margin-bottom: 1rem;

  .label-title {
    display: block;
    font-weight: 600;
  }
}

.sort {
  @media (min-width: 768px) {
    // max-width: 9rem;
  }
}

.filter {
  width: auto;
  @media (min-width: 1200px) {
    border-left: 1px solid $gray;
  }
}

.filter-item {
  display: inline-block;
  padding-right: 0.4375rem;
  label {
    margin-right: .5rem;
  }
}

.section-title {
  font-family: Lato, sans-serif;
  font-weight: 400;
  padding-left: 0.9375rem;
}

.select {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
  width: 100%;

  @media (min-width: 992px) {
    width: auto;
  }
}

.uniSelectSort {
  @media (min-width: 1200px) {
    margin-top: 2.5rem;
  }

  min-width: 9rem;
}

.multiSelectCenter, .multiSelectDataType {
  width: 13rem;
}

.multiSelectRole {
  width: 14rem;
}

.multiSelectFeature {
  width: 12rem;
}

.tools {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// WorkflowInput

.form-row {
  margin-bottom: .5rem;
}

.form-box {
  @media (min-width: 768px) {
    margin-top: 1rem;
  }
  @media (min-width: 1200px) {
    margin-top: 0;
  }
}

.workflow-input {
  padding-left: .375rem;
  width: 100%;
}

.workflow-submit {
  background-color: $teal;
  border-color: darken($teal, 3);
  color: $white;
  margin-top: 1rem;
  width: 100%;

  &:hover {
    background-color: darken($teal, 8);
    border-color: darken($teal, 10);
    color: $white;
  }

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

//

// WorkflowSentModal

// .wf-modal-header {
//   border-bottom: 0;
// }

.wf-modal-content {
  border: 0;
}

.wf-modal-body {
  padding: 1rem;
  text-align: center;

  h4 {
    margin: 3rem 0 .5rem;
  }

  p {
    font-weight: 300;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
  }

  button {
    background-color: $brand-primary-light;
    border-radius: .3rem;
    box-shadow: none;
    color: $white;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin: 3rem auto 0;
    padding: .6rem 2rem;
  }
}

.new {
  color: #ef6666;
}
