@import 'variables';

.wrapper {

  h2 {
    border-bottom: 1px solid $dark-gray;
    margin-bottom: 0;
    padding-bottom: .5rem;
  }
}

.metadata-table {

  td,
  th {
    border-top: 1px solid $gray;
    line-height: 1.25;
    vertical-align: middle;
  }

  tr:first-child {

    td,
    th {
      border-top: 0;
    }
  }
}

.data-link {

  i {
    padding-bottom: .5rem;
    width: 100%;
  }

  a {
    border: 1px solid $gray;
    color: $dark-gray;
    display: block;
    margin-top: .5rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    width: 100%;

    &:hover {
      background-color: $gray;
      border-color: darken($gray, 5);
      color: $darker-gray;
      text-decoration: none;
    }
  }
}
